/*
 ** Base layout of site.
 ** Generally, It will inclue the width of the regions and their placement.
 */

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  @extend .full-width;
}

/*
**Wrapper Section to make the div the in the center of the page
*/

.wrapper-section {
  max-width: 780px;
  margin: 0 auto;
}

/*
**Secondary headings on all the pages
*/

.section-heading {
  @extend %seconday-heading;
}

/*
**Main headings on all the pages
*/

.main-heading {
  @extend %body-heading;
}


.sidebar-first-pages {
  @extend %flex-row;
  @extend %wrap;
  @include flex-direction(row-reverse);
  #content-column {
    width:82.6%;
  }
  .sidebar {
    width:17.3%;
    padding-right: 20px;
    margin-top: 42px;
    padding-left: 12px;
  }
  .wrapper-section {
    margin: 0;
  }
  .section-navigate {
    margin-top: 50px;
  }
}
