/*
 ** Base layout of site.
 ** Generally, It will inclue the width of the regions and their placement.
 */

.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  @extend .full-width;
}

/*
**Wrapper Section to make the div the in the center of the page
*/

.wrapper-section {
  max-width: 780px;
  margin: 0 auto;
}

/*
**Secondary headings on all the pages
*/

.section-heading {
  @extend %seconday-heading;
}

/*
**Main headings on all the pages
*/

.main-heading {
  font-size: ($base-font)+14;
}


.sidebar-first-pages {
  @extend %flex-row;
  @extend %wrap-reverse;
  /*display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;*/
  #content-column {
    width:80%;
  }
  .sidebar {
    width:20%;
    padding-right: 20px;
  }
}