/*
 ** style for Q&A page only.
 */

.qna-page {
  margin-bottom: 70px;
}
.qna-header-wrapper {
  background-color: #e4e4e4;
  padding: 30px 12px;
  margin-bottom: 40px;
}

.detail-pages-heading {
  @extend %inner-pages-heading;
}
.cards-wrapper {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
.cards-toggler {
  color: $link;
  cursor: pointer;
  font-size: ($base-font)+2;
}
.cards-toggle-wrapper {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: $white;
  padding: 5px 8px;
  margin-top: 5px;
  z-index: 1;
  @include box-shadow(rgba(black,0.1) 1px 1px 3px);
  a {
    border-bottom: solid 1px $light-grey-background;
    font-size: ($base-font)+2;
    line-height: ($base-font)+6;
    padding: 6px 0;
    display: block;
  }
  > div:last-of-type {
    a {
      border-bottom: none;
    }
  }
}
.type-description {
  font-size: ($base-font)+2;
  margin-top: 10px;
  p {
    margin: 0;
  }
}


/*
 ** Q&A main content section
 */

.qa-list {
  padding: 25px 0;
  border-bottom: solid 1px $border-color;
}
.row-counter {
  width: 42px;
  height: 42px;
  background-color: $text;
  color: $white;
  font-size: ($base-font)+10;
  display: inline-block;
  margin-right: 34px;
  @include border-radius(50%, 50%);
  text-align: center;
  line-height: 42px;
  vertical-align: top;
}
.title-body-wrapper {
  display: inline-block;
  width: 89%;
}
.qna-title {
  color: $link;
  font-size: ($base-font)+10;
  margin-bottom: 50px;
}
.qna-summary {
  p {
    margin: 0;
  }
}

/*
 ** Q&A inner Pages
 */

.node-type-question-answer {
  #content-column {
    width: 67%;
  }
  .sidebar {
    width: 23%;
    padding-right: 0;
    margin-right: 10%;
  }
}

/*
 ** Q&A sidebar section
 */
.qna-sidebar {
  .search {
    width: 100%;
    @include border-radius(5px,5px);
    border: solid 2px #e4e4e4;
    font-size: $base-font;
  }
  ul {
    background-color: $light-grey-background;
    padding: 10px;
    margin: 5px 0 0;
    list-style: none;
    li {
      font-size: ($base-font)+2;
      color: $link;
      line-height: ($base-font)+10;
      padding: 15px 0;
      border-bottom: solid 1px $border-color;
      &:last-of-type {
        margin-bottom: none;
      }
    }
  }
}
