/**
 * Variables for all patial files.
**/

$header-color: #000;
$black: #000;
$link: #2A5DB0;
$text: #333333;
$white: #fff;
$grey: #999;
$dark-grey: #666;
$navigation: #363636;
$light-grey-background: #f2f2f2;
$border-color: #ccc;

/**
 ** Variables for all the fonts.
 */


$opensans-regular: "OpenSans-Regular";
$opensans-bold: "OpenSans-Bold";
$opensans-light: "OpenSans-Light";
$opensans-semibold: "OpenSans-Semibold";

$base-font: 14px;
$heading-title-48: 48px;
$inner-pages-title: 36px;

$img-path: "../images";
