/**
 * Variables for all patial files.
**/

$header-color: #000;
$black: #000;
$link: #2A5DB0;
$text: #333333;
$white: #fff;
$navigation: #363636;


/**
 ** Variables for all the fonts.
 */


$opensans-regular: "OpenSans-Regular";
$opensans-bold: "OpenSans-Bold";
$opensans-light: "OpenSans-Light";
$opensans-semibold: "OpenSans-Semibold";
