/*
** Utilities.
*/
/**
 * Variables for all patial files.
**/
/**
 ** Variables for all the fonts.
 */
/*
** Helpers (Placeholders)
*/
/* line 6, ../sass/utilities/_placeholder.scss */
.nav ul, .casestudy-left-nav ul, .case-study-tags ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 11, ../sass/utilities/_placeholder.scss */
.nav li, .casestudy-left-nav li, .case-study-tags li {
  float: left;
}
/* line 13, ../sass/utilities/_placeholder.scss */
.nav li:first-child, .casestudy-left-nav li:first-child, .case-study-tags li:first-child {
  margin: 0;
}

/* line 25, ../sass/utilities/_placeholder.scss */
.menu-categories-title, .continue-reading .menu-categories-title {
  display: none;
}

/* line 29, ../sass/utilities/_placeholder.scss */
.sidebar-first-pages {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

/* line 46, ../sass/utilities/_placeholder.scss */
.sidebar-first-pages {
  -webkit-flex-wrap: wrap;
  -moz-box-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  flex-wrap: wrap;
}

/*
** For the Heading on the banner images in the details pages (like case study)
*/
/* line 71, ../sass/utilities/_placeholder.scss */
.case-study-title {
  font-size: 48px;
  line-height: 54px;
  color: #fff;
  margin: 6px 0 13px;
  text-transform: capitalize;
}

/*
** For the Section heading of the each section on the pages (lke case study)
*/
/* line 83, ../sass/utilities/_placeholder.scss */
.section-heading, .page-views .field-name-field-value {
  font-size: 20px;
  color: #333333;
  font-family: "OpenSans-Regular";
  margin: 16px 0;
}

/*
** For the Heading on the banner images in the inner pages
*/
/* line 94, ../sass/utilities/_placeholder.scss */
.casestudy-inner-page .case-study-title, .detail-pages-heading {
  font-size: 36px;
  color: #333333;
  margin: 18px 0 0;
  display: inline-block;
}

/*
** For the Heading in the body of the inner pages
*/
/* line 104, ../sass/utilities/_placeholder.scss */
.main-heading, .page-views .field-name-field-value {
  font-size: 28px;
  margin-bottom: 8px;
  font-weight: 700;
}

/*
** Font awesome
*/
/* line 113, ../sass/utilities/_placeholder.scss */
.case-study-tags li:before, .social-share .stButton .stLarge:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
** Secondary headings in the inner pages without any spacing and small font size (lessons and solutions page)
*/
/* line 126, ../sass/utilities/_placeholder.scss */
.facts-section h3, .lessons-page h3 {
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

/*
** base.
*/
/**
 ** Base layout of site.
 */
/* line 5, ../sass/base/_base.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 11, ../sass/base/_base.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  width: 100%;
  font-size: 16px;
  color: #333333;
  font-family: "OpenSans-Regular";
}

/* line 20, ../sass/base/_base.scss */
a {
  color: #2A5DB0;
  text-decoration: none;
}
/* line 23, ../sass/base/_base.scss */
a:hover {
  text-decoration: none;
}

/* line 27, ../sass/base/_base.scss */
p {
  color: #333333;
}

/*
** site using fonts
*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.otf");
  src: url("../fonts/OpenSans-Regular.ttf"), url("../fonts/OpenSans-Regular.woff"), url("../fonts/OpenSans-Regular.eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Light";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.otf");
  src: url("../fonts/OpenSans-Light.ttf"), url("../fonts/OpenSans-Light.woff"), url("../fonts/OpenSans-Light.eot");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.otf");
  src: url("../fonts/OpenSans-Bold.ttf"), url("../fonts/OpenSans-Bold.woff"), url("../fonts/OpenSans-Bold.eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url("../fonts/OpenSans-Semibold.otf");
  src: url("../fonts/OpenSans-Semibold.ttf"), url("../fonts/OpenSans-Semibold.woff"), url("../fonts/OpenSans-Semibold.eot");
  font-weight: 700;
  font-style: normal;
}
/*
**  Layout Specific.
*/
/*
 ** Base layout of site.
 ** Generally, It will inclue the width of the regions and their placement.
 */
/* line 6, ../sass/layout/_layout.scss */
.page-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/*
**Wrapper Section to make the div the in the center of the page
*/
/* line 18, ../sass/layout/_layout.scss */
.wrapper-section {
  max-width: 780px;
  margin: 0 auto;
}

/*
**Secondary headings on all the pages
*/
/*
**Main headings on all the pages
*/
/* line 40, ../sass/layout/_layout.scss */
.sidebar-first-pages {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
/* line 44, ../sass/layout/_layout.scss */
.sidebar-first-pages #content-column {
  width: 82.6%;
}
/* line 47, ../sass/layout/_layout.scss */
.sidebar-first-pages .sidebar {
  width: 17.3%;
  padding-right: 20px;
  margin-top: 42px;
}
/* line 52, ../sass/layout/_layout.scss */
.sidebar-first-pages .wrapper-section {
  margin: 0;
}
/* line 55, ../sass/layout/_layout.scss */
.sidebar-first-pages .section-navigate {
  margin-top: 50px;
}

/*
** Component.
*/
/**
 ** @file
 ** Classes that would be used site wide.
 */
/* line 6, ../sass/component/_commonClass.scss */
.pull-left {
  float: left;
}

/* line 9, ../sass/component/_commonClass.scss */
.pull-right {
  float: right;
}

/* line 12, ../sass/component/_commonClass.scss */
.full-width, header {
  width: 100%;
}

/*
** Style for Header Components
*/
/* line 5, ../sass/component/_header.scss */
#site-name {
  margin: 0;
}
/* line 7, ../sass/component/_header.scss */
#site-name a {
  text-transform: uppercase;
  font-size: 16px;
  float: left;
  margin-top: 9px;
}

/* line 15, ../sass/component/_header.scss */
header[role="banner"] {
  background-color: #000;
  padding: 20px;
}
/* line 18, ../sass/component/_header.scss */
header[role="banner"] a {
  color: #fff;
}

/* line 26, ../sass/component/_header.scss */
[role="navigation"] {
  padding: 0 20px;
  background: #363636;
}
/* line 29, ../sass/component/_header.scss */
[role="navigation"] a {
  color: #fff;
  padding: 5px 10px;
}
/* line 34, ../sass/component/_header.scss */
[role="navigation"] li:first-child a {
  padding-left: 0;
}

/* line 39, ../sass/component/_header.scss */
.branding {
  max-width: 160px;
  width: 100%;
}

/* line 43, ../sass/component/_header.scss */
.region-header {
  float: right;
  width: 75%;
}
/* line 46, ../sass/component/_header.scss */
.region-header .block-search {
  float: left;
  width: 68%;
}
/* line 50, ../sass/component/_header.scss */
.region-header .block-adb-global-functions {
  float: right;
  font-size: 14px;
  text-align: right;
}

/* line 58, ../sass/component/_header.scss */
.block-search .form-text {
  outline: none;
  height: 40px;
  background-color: #fff;
  border: 2px solid #c9c9c9;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 16px;
  float: left;
  color: #999;
  width: 92%;
}
/* line 71, ../sass/component/_header.scss */
.block-search .form-submit {
  width: 40px;
  height: 40px;
  background: inherit;
  background-color: #c9c9c9;
  border-width: 2px;
  border-style: solid;
  border-color: #666;
  border-left: 0px;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  color: #000;
}

/* line 87, ../sass/component/_header.scss */
.not-logged-in .block-adb-global-functions {
  margin-top: 9px;
}
/* line 90, ../sass/component/_header.scss */
.not-logged-in .block-adb-global-functions a:first-child {
  margin-right: 20px;
  position: relative;
}
/* line 93, ../sass/component/_header.scss */
.not-logged-in .block-adb-global-functions a:first-child:after {
  content: "/";
  position: absolute;
  right: -8px;
  width: 1px;
  color: #fff;
}

/* line 105, ../sass/component/_header.scss */
.logged-in .block-adb-global-functions {
  margin-top: 9px;
}

/* line 110, ../sass/component/_header.scss */
.block-adb-global-functions .profile-access-toggle {
  width: 0;
  height: 10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  text-indent: 9999px;
  margin: 0 0.3em;
  position: absolute;
  right: 0;
  top: 40%;
  color: transparent;
}
/* line 123, ../sass/component/_header.scss */
.block-adb-global-functions .username {
  float: left;
  display: block;
}

/* line 128, ../sass/component/_header.scss */
.profile-access-toggle-wrapper {
  clear: both;
  padding-right: 1.3em;
}

/* line 132, ../sass/component/_header.scss */
.expand-profile-wrapper {
  position: relative;
  display: inline-block;
  padding-right: 1.4em;
}

/*
** style for Footer.
*/
/* line 4, ../sass/component/_footer.scss */
.footer-top {
  background-color: #f2f2f2;
  border-top: 5px solid #0e0e0e;
  padding: 25px 20px 23px;
}

/* line 9, ../sass/component/_footer.scss */
.footer-bottom {
  background-color: #000;
  padding: 12px 20px;
}

/* line 16, ../sass/component/_footer.scss */
.social-links {
  width: 30%;
  display: inline-block;
}
/* line 19, ../sass/component/_footer.scss */
.social-links li {
  display: inline-block;
  margin: 0 17px;
}
/* line 23, ../sass/component/_footer.scss */
.social-links .fa {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

/**
 ** Layout design for sidebar.
 */
/* line 7, ../sass/component/_sidebar.scss */
.casestudy-left-nav li {
  float: none;
  margin: 5px 0 15px;
}
/* line 10, ../sass/component/_sidebar.scss */
.casestudy-left-nav li:first-child {
  margin: 0 0 15px;
}
/* line 14, ../sass/component/_sidebar.scss */
.casestudy-left-nav a {
  font-size: 16px;
}

/*
** style for Content
*/
/*
** Pages.
*/
/*
 ** style for case study page only.
 */
/*
**Featured Section
*/
/* line 8, ../sass/pages/_caseStudy.scss */
.banner-image {
  position: relative;
}

/* line 11, ../sass/pages/_caseStudy.scss */
.content-type-name {
  width: 100%;
  padding-left: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 18, ../sass/pages/_caseStudy.scss */
.case-study-label {
  padding: 5px 10px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
  display: inline-block;
}

/* line 28, ../sass/pages/_caseStudy.scss */
.project-date {
  color: #fff;
  font-size: 16px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

/* line 37, ../sass/pages/_caseStudy.scss */
.case-study-tags {
  margin-bottom: 64px;
}
/* line 40, ../sass/pages/_caseStudy.scss */
.case-study-tags li {
  background-color: #fff;
  border: solid 1px #000;
  display: inline-block;
  float: none;
  font-size: 12px;
  padding: 4px 5px;
  margin: 0 16px 8px 0;
}
/* line 48, ../sass/pages/_caseStudy.scss */
.case-study-tags li:before {
  content: "\f02b";
  color: #000;
  margin-right: 4px;
}
/* line 54, ../sass/pages/_caseStudy.scss */
.case-study-tags li:first-child {
  margin-right: 16px;
}
/* line 58, ../sass/pages/_caseStudy.scss */
.case-study-tags a {
  color: #000;
}

/* line 62, ../sass/pages/_caseStudy.scss */
.black-border {
  height: 20px;
  background-color: #000;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* line 70, ../sass/pages/_caseStudy.scss */
.arrow-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  background-color: #fff;
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  text-align: center;
}
/* line 81, ../sass/pages/_caseStudy.scss */
.arrow-icon .fa {
  font-size: 22px;
  line-height: 24px;
  color: #333333;
}

/*
**Overview Section
*/
/* line 91, ../sass/pages/_caseStudy.scss */
.social-share-download {
  width: 100%;
  padding: 10px 0 6px;
  border-bottom: solid 1px #999;
  overflow: hidden;
}
/* line 96, ../sass/pages/_caseStudy.scss */
.social-share-download a {
  color: #666;
}

/* line 100, ../sass/pages/_caseStudy.scss */
.social-share {
  float: left;
}
/* line 102, ../sass/pages/_caseStudy.scss */
.social-share li {
  display: inline-block;
  margin: 0 5px;
}
/* line 105, ../sass/pages/_caseStudy.scss */
.social-share li:first-child {
  margin-left: 0;
}
/* line 109, ../sass/pages/_caseStudy.scss */
.social-share a {
  font-size: 28px;
}
/* line 113, ../sass/pages/_caseStudy.scss */
.social-share .stButton {
  margin: 0 8px;
}
/* line 115, ../sass/pages/_caseStudy.scss */
.social-share .stButton .stLarge {
  background: none !important;
  width: auto;
  height: auto;
}
/* line 119, ../sass/pages/_caseStudy.scss */
.social-share .stButton .stLarge:after {
  font-size: 28px;
  color: #666;
}

/* line 127, ../sass/pages/_caseStudy.scss */
.st_facebook_large .stButton {
  margin-left: 0;
}
/* line 130, ../sass/pages/_caseStudy.scss */
.st_facebook_large .stButton .stLarge:after {
  content: '\f082';
}

/* line 136, ../sass/pages/_caseStudy.scss */
.st_twitter_large .stButton .stLarge:after {
  content: '\f081';
}

/* line 141, ../sass/pages/_caseStudy.scss */
.st_linkedin_large .stButton .stLarge:after {
  content: '\f08c';
}

/* line 146, ../sass/pages/_caseStudy.scss */
.download-print {
  float: right;
}
/* line 148, ../sass/pages/_caseStudy.scss */
.download-print a {
  font-size: 14px;
  font-family: "OpenSans-Regular";
  margin-right: 16px;
  display: inline-block;
}
/* line 153, ../sass/pages/_caseStudy.scss */
.download-print a:last-of-type {
  margin-right: 0;
}

/*
**Overview Section
*/
/* line 162, ../sass/pages/_caseStudy.scss */
.overview-content {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
/* line 166, ../sass/pages/_caseStudy.scss */
.overview-content .summary {
  padding: 20px 18px;
  background-color: #f2f2f2;
  margin: 30px 0 40px;
}
/* line 171, ../sass/pages/_caseStudy.scss */
.overview-content p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 30px;
  color: #000;
}
/* line 177, ../sass/pages/_caseStudy.scss */
.overview-content ul {
  margin: 30px 0;
  padding-left: 0;
  list-style: none;
}
/* line 181, ../sass/pages/_caseStudy.scss */
.overview-content ul li {
  line-height: 24px;
}
/* line 183, ../sass/pages/_caseStudy.scss */
.overview-content ul li:before {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #333333;
  margin: 0 5px 1px 0;
  vertical-align: middle;
}
/* line 195, ../sass/pages/_caseStudy.scss */
.overview-content img, .overview-content iframe {
  max-width: 100%;
}
/* line 198, ../sass/pages/_caseStudy.scss */
.overview-content img {
  height: auto;
}
/* line 201, ../sass/pages/_caseStudy.scss */
.overview-content iframe {
  margin-bottom: 15px;
}

/*
**Continue Reading Section
*/
/* line 209, ../sass/pages/_caseStudy.scss */
.continue-block {
  margin-top: 35px;
  overflow: hidden;
}
/* line 212, ../sass/pages/_caseStudy.scss */
.continue-block .section-heading {
  margin-bottom: 10px;
  margin-top: 20px;
}

/* line 217, ../sass/pages/_caseStudy.scss */
.continue-reading {
  border-top: solid 1px #999;
  border-bottom: solid 1px #999;
  margin-bottom: 50px;
  position: relative;
}
/* line 225, ../sass/pages/_caseStudy.scss */
.continue-reading ul {
  padding: 0 20px 0 120px;
  margin: 0;
  list-style: none;
}
/* line 230, ../sass/pages/_caseStudy.scss */
.continue-reading li {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  margin: 15px 1%;
}
/* line 236, ../sass/pages/_caseStudy.scss */
.continue-reading a {
  color: #2A5DB0;
  font-size: 24px;
}
/* line 240, ../sass/pages/_caseStudy.scss */
.continue-reading .fa {
  color: #999;
  font-size: 30px;
  position: absolute;
  top: -11px;
  left: 50%;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*
**Project Snapshots Section
*/
/* line 253, ../sass/pages/_caseStudy.scss */
.project-snapshot-content {
  background-color: #f2f2f2;
  padding: 30px;
  text-align: center;
  margin-bottom: 25px;
}
/* line 258, ../sass/pages/_caseStudy.scss */
.project-snapshot-content .fa {
  font-size: 34px;
}

/* line 262, ../sass/pages/_caseStudy.scss */
.project-heading {
  font-size: 18px;
  color: #333333;
  font-family: "OpenSans-Regular";
  margin: 0 0 15px;
}

/*
**Project Snapshot Date Section
*/
/* line 272, ../sass/pages/_caseStudy.scss */
.casestudy-project-date {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  color: #333333;
}
/* line 278, ../sass/pages/_caseStudy.scss */
.casestudy-project-date:last-of-type .project-year:after {
  content: initial;
}
/* line 282, ../sass/pages/_caseStudy.scss */
.casestudy-project-date .description {
  font-size: 16px;
}
/* line 284, ../sass/pages/_caseStudy.scss */
.casestudy-project-date .description p {
  margin: 2px 0 0;
}

/* line 289, ../sass/pages/_caseStudy.scss */
.project-year {
  font-size: 28px;
  position: relative;
}
/* line 292, ../sass/pages/_caseStudy.scss */
.project-year:after {
  position: absolute;
  content: '';
  background: url(../images/timeline-image.png) no-repeat center center;
  width: 115px;
  height: 9px;
  display: inline-block;
  padding: 0 12px;
  vertical-align: middle;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*
**Project Snapshot Cost Section
*/
/* line 312, ../sass/pages/_caseStudy.scss */
.dates-content {
  padding-bottom: 20px;
}

/* line 315, ../sass/pages/_caseStudy.scss */
.cost-value {
  font-size: 28px;
  color: #333333;
  line-height: 28px;
  font-family: "OpenSans-Regular";
}

/* line 321, ../sass/pages/_caseStudy.scss */
.cost-breakup, .cost-data_description {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: "OpenSans-Regular";
}
/* line 326, ../sass/pages/_caseStudy.scss */
.cost-breakup p, .cost-data_description p {
  margin: 0;
}

/* line 330, ../sass/pages/_caseStudy.scss */
.cost-data_description {
  margin-top: 2px;
}

/*
**Project Snapshot Institute Section
*/
/* line 337, ../sass/pages/_caseStudy.scss */
.institution-stakeholder {
  padding-left: 125px;
  padding-right: 95px;
  padding-bottom: 40px;
}
/* line 341, ../sass/pages/_caseStudy.scss */
.institution-stakeholder .fa {
  margin-bottom: 7px;
}

/* line 345, ../sass/pages/_caseStudy.scss */
.detail-wrapper {
  text-align: left;
}

/* line 348, ../sass/pages/_caseStudy.scss */
.institute-detail {
  width: 46%;
  display: inline-block;
  vertical-align: top;
  margin-right: 8%;
  word-wrap: break-word;
}
/* line 354, ../sass/pages/_caseStudy.scss */
.institute-detail h4 {
  margin: 16px 0 12px;
}
/* line 357, ../sass/pages/_caseStudy.scss */
.institute-detail:nth-child(2n) {
  margin-right: 0;
}

/*
**Knowledge Contributor Section
*/
/* line 365, ../sass/pages/_caseStudy.scss */
.contributor-image {
  max-width: 102px;
  display: inline-block;
}

/* line 369, ../sass/pages/_caseStudy.scss */
.about-contributor {
  width: 84%;
  display: inline-block;
  margin-left: 2%;
  vertical-align: top;
}

/* line 375, ../sass/pages/_caseStudy.scss */
.contributor-name {
  font-size: 20px;
  margin: 0 0 5px;
  color: #333333;
  font-family: "OpenSans-Regular";
}

/* line 381, ../sass/pages/_caseStudy.scss */
.contributor-about p {
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  font-family: "OpenSans-Regular";
  margin: 0 0 6px;
}

/*
**Navigation Section
*/
/* line 392, ../sass/pages/_caseStudy.scss */
.section-navigate {
  margin-top: 100px;
  margin-bottom: 30px;
  padding-top: 15px;
  border-top: solid 1px #ccc;
  overflow: hidden;
}
/* line 398, ../sass/pages/_caseStudy.scss */
.section-navigate a {
  color: #2A5DB0;
  display: inline-block;
}

/* line 403, ../sass/pages/_caseStudy.scss */
.nav-links {
  font-size: 36px;
}

/* line 406, ../sass/pages/_caseStudy.scss */
.next-link {
  text-align: right;
  float: right;
}

/* line 410, ../sass/pages/_caseStudy.scss */
.prev-link {
  text-align: left;
  float: left;
}

/* line 414, ../sass/pages/_caseStudy.scss */
.link-name {
  font-size: 20px;
  display: block;
}

/*
**Useful Content Section
*/
/* line 422, ../sass/pages/_caseStudy.scss */
.useful-content {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px 0 12px;
  border-bottom: solid 3px #fff;
  margin: 0;
}
/* line 428, ../sass/pages/_caseStudy.scss */
.useful-content .form-type-item {
  margin: 0;
}
/* line 431, ../sass/pages/_caseStudy.scss */
.useful-content label {
  font-size: 18px;
  color: #000;
  display: inline-block;
  margin-bottom: 18px;
}
/* line 437, ../sass/pages/_caseStudy.scss */
.useful-content ul {
  margin: 0;
}
/* line 439, ../sass/pages/_caseStudy.scss */
.useful-content ul li {
  margin: 0 10px;
  display: inline-block;
  float: none;
}
/* line 443, ../sass/pages/_caseStudy.scss */
.useful-content ul li a {
  background: #333333;
  color: #fff !important;
  display: inline-block;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  font-size: 16px;
  padding: 10px 25px;
  margin: 0;
  border: none;
}

/*
**casetudy inner Pages banner section
*/
/* line 462, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .content-type-name {
  position: static;
  border-bottom: solid 1px #999;
  padding-top: 30px;
}
/* line 467, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .case-study-title {
  line-height: 42px;
  color: #333333;
}
/* line 472, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .project-date {
  color: #666;
  margin-top: 16px;
  margin-bottom: 14px;
}
/* line 477, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .case-study-tags {
  margin-bottom: 8px;
}
/* line 479, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .case-study-tags li {
  background-color: transparent;
  border: none;
  font-size: 14px;
}
/* line 485, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .item-list {
  display: inline-block;
}
/* line 487, ../sass/pages/_caseStudy.scss */
.casestudy-inner-page .item-list ul li {
  margin: 0 16px 8px 0;
}

/* Main Heading in the body of all the inner pages */
/*
**Solutions Section
*/
/* line 505, ../sass/pages/_caseStudy.scss */
.facts-section {
  max-width: 582px;
  margin: 45px auto 50px;
  background-color: #f2f2f2;
  padding: 20px;
}
/* line 510, ../sass/pages/_caseStudy.scss */
.facts-section ul {
  margin: 6px 0 0;
}

/*
**Impact Section
*/
/* line 522, ../sass/pages/_caseStudy.scss */
.views-field-field-impact .field-content {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 40px 0 60px;
}

/* line 527, ../sass/pages/_caseStudy.scss */
.impact-list {
  padding: 20px 30px;
  border-bottom: solid 2px #fff;
}
/* line 530, ../sass/pages/_caseStudy.scss */
.impact-list:last-of-type {
  border-bottom: none;
}

/* line 535, ../sass/pages/_caseStudy.scss */
.impact-value-unit-wrapper {
  font-size: 36px;
  line-height: 46px;
}
/* line 538, ../sass/pages/_caseStudy.scss */
.impact-value-unit-wrapper .field-name-field-value {
  display: inline-block;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
  font-weight: 400;
}

/* line 547, ../sass/pages/_caseStudy.scss */
.impact-description-wrapper p {
  font-size: 20px;
  margin: 4px 0 2px;
}

/* line 552, ../sass/pages/_caseStudy.scss */
.field-name-field-unit {
  display: inline-block;
}

/*
**Lessons Section
*/
/* line 562, ../sass/pages/_caseStudy.scss */
.lessons-page p {
  margin: 0 0 20px;
}

/*
**Additional Resources Section
*/
/* line 575, ../sass/pages/_caseStudy.scss */
.additional-resources h3 {
  margin-top: 35px;
  margin-bottom: 10px;
}
/* line 579, ../sass/pages/_caseStudy.scss */
.additional-resources ul {
  margin: 0;
}
/* line 582, ../sass/pages/_caseStudy.scss */
.additional-resources a {
  display: inline-block;
}

/*
 ** Style for Homepage only.
 */
/*
 ** style for Q&A page only.
 */
/* line 5, ../sass/pages/_qa.scss */
.qna-page {
  margin-bottom: 70px;
}
/* line 7, ../sass/pages/_qa.scss */
.qna-page .social-share-download {
  border-top: solid 1px #999;
  margin-bottom: 35px;
  padding: 6px 12px;
}

/* line 13, ../sass/pages/_qa.scss */
.qna-header-wrapper {
  background-color: #e4e4e4;
  padding: 30px 12px;
  margin-bottom: 70px;
}

/* line 22, ../sass/pages/_qa.scss */
.cards-wrapper {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}

/* line 27, ../sass/pages/_qa.scss */
.cards-toggler {
  color: #2A5DB0;
  cursor: pointer;
  font-size: 16px;
}
/* line 31, ../sass/pages/_qa.scss */
.cards-toggler .fa-angle-up {
  display: none;
}

/* line 36, ../sass/pages/_qa.scss */
.open-card .fa-angle-down {
  display: none;
}
/* line 39, ../sass/pages/_qa.scss */
.open-card .fa-angle-up {
  display: inline-block;
}

/* line 43, ../sass/pages/_qa.scss */
.cards-toggle-wrapper {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #fff;
  padding: 5px 8px;
  margin-top: 5px;
  z-index: 2;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}
/* line 52, ../sass/pages/_qa.scss */
.cards-toggle-wrapper a {
  border-bottom: solid 1px #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  padding: 6px 0;
  display: block;
}
/* line 60, ../sass/pages/_qa.scss */
.cards-toggle-wrapper > div:last-of-type a {
  border-bottom: none;
}

/* line 65, ../sass/pages/_qa.scss */
.type-description {
  font-size: 16px;
  margin-top: 10px;
}
/* line 68, ../sass/pages/_qa.scss */
.type-description p {
  margin: 0;
}

/*
 ** Q&A main content section
 */
/* line 78, ../sass/pages/_qa.scss */
.qa-list {
  padding: 25px 0;
  border-bottom: solid 1px #ccc;
}

/* line 82, ../sass/pages/_qa.scss */
.row-counter {
  width: 42px;
  height: 42px;
  background-color: #333333;
  color: #fff;
  font-size: 24px;
  display: inline-block;
  margin-right: 34px;
  -moz-border-radius: 50% / 50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50% / 50%;
  text-align: center;
  line-height: 42px;
  vertical-align: top;
}

/* line 95, ../sass/pages/_qa.scss */
.title-body-wrapper {
  display: inline-block;
  width: 89%;
}

/* line 99, ../sass/pages/_qa.scss */
.qna-title {
  color: #2A5DB0;
  font-size: 24px;
  margin-bottom: 50px;
}

/* line 105, ../sass/pages/_qa.scss */
.qna-summary p {
  margin: 0;
}

/*
 ** Q&A inner Pages
 */
/* line 115, ../sass/pages/_qa.scss */
.node-type-question-answer #content-column {
  width: 67%;
}
/* line 118, ../sass/pages/_qa.scss */
.node-type-question-answer .sidebar {
  width: 23%;
  padding-right: 0;
  margin-right: 10%;
}

/*
 ** Q&A sidebar section
 */
/* line 129, ../sass/pages/_qa.scss */
.qna-sidebar .search {
  width: 100%;
  -moz-border-radius: 5px / 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px / 5px;
  border: solid 2px #e4e4e4;
  font-size: 14px;
}
/* line 135, ../sass/pages/_qa.scss */
.qna-sidebar ul {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 5px 0 0;
  list-style: none;
}
/* line 140, ../sass/pages/_qa.scss */
.qna-sidebar ul li {
  font-size: 16px;
  color: #2A5DB0;
  line-height: 24px;
  padding: 15px 0;
  border-bottom: solid 1px #ccc;
}
/* line 146, ../sass/pages/_qa.scss */
.qna-sidebar ul li:last-of-type {
  border-bottom: none;
}

/*# sourceMappingURL=style.css.map */
